{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literary Search</title>

    <link rel="stylesheet" href="{% static 'css/Imain.css' %}">
</head>
<body>
  <header>
    <div class="logo">LS<span class="book-icon">▮▮▮</span></div>
    <div class="auth-buttons">
      <button class="outlined"><a class="buttonHeader"href="{% url 'login' %}">Login</a></button>
      <button class="outlined"><a class="buttonHeader" href="{% url 'register' %}">Signup</a></button>
    </div>
  </header>
  
   <main>
    <p class="subheading">Literary Search</p>
    <h1 class="headline">WHERE BOOKS<br>FINDS YOU</h1>

    <div class="search-wrapper">
        <div class="search-bar">
            <input type="text" placeholder="Search by Author, Genre…" />
            <button>Search</button>
        </div>
    </div>
  </main>
</body>
</html>