{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.ico' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/bg.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/Lmain.css' %}">

</head>
<body>
  <header>
    <div class="logo"><a href="{% url 'home' %}">LS</a></div>
  </header>
  <div class = "cover-container">
     <h2>BOOKS OF THE WEEK!</h2>
      <div class="slideshow-container">
        <div class="wrapper">
            <img src="/static/images/bc1.jpg"/>
            <img src="/static/images/bc2.jpg"/>
            <img src="/static/images/bc3.jpg"/>
            <img src="/static/images/bc4.jpg"/>
        </div>
      </div>
  </div>
  <div class="container">

    {% for message in messages%}
         <div id="messagefade">{{message}}</div>
    {% endfor %}
    <script type="text/javascript" src="{% static 'javascript/animate.js' %}"></script>

    <div class="login-card">
      <h1>Login</h1>
      <form action="" method="POST">
        {% csrf_token %} {% for field in form %}
        {{ field.label }}: <br/>
        {{ field }}
        {% endfor %}
        <button type="submit">Login</button>
        </form>
      <div class="extras">
        <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>
        <div class="divider"><span></span>or login with<span></span></div>
        <div class="social-icons">
          <img src="/static/images/fb.png" alt="Facebook" />
          <img src="/static/images/google.png" alt="Google" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>


<!-- <body>
    <h1>LOGIN</h1>
        <form action="" method="POST">
        {% csrf_token %} {% for field in form %}
        <p>
            {{ field.label }}: <br/>
            {{ field }}
        </p>
        {% endfor %}
        <button type="submit">Login</button>
        </form>
     <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>
    </body>
</html> -->